@use './tokens';

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-bottom: tokens.$spacing-xlarge;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: tokens.$spacing-xlarge;

    a {
        color: var(--background-color);
    }

    i {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: tokens.$spacing-small;
    }

    dt {
        display: flex;
        align-items: center;
    }
}

.contact {
    padding: 0 tokens.$spacing-gutter;
}

.subfooter {
    margin-top: tokens.$spacing-xlarge;
    line-height: 1.5em;

    @include tokens.desktop {
        br {
            display: none;
        }
    }
}
