@use './tokens';

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-bottom: tokens.$spacing-xlarge;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: tokens.$spacing-xlarge;

    a {
        color: var(--background-color);
    }

    i {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: tokens.$spacing-small;
    }

    dl {
        align-items: center;
    }

    dt {
        display: flex;
        align-items: center;
    }
}

.contact {
    padding: 0 tokens.$spacing-gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include tokens.desktop {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "header header"
                            "links logo"
                            "subfooter subfooter";
    }
}

.contact-header {
    order: 2;

    @include tokens.desktop {
        grid-area: header;
    }
}

.contact-links {
    order: 3;

    @include tokens.desktop {
        grid-area: links;
    }
}

.logo {
    order: 1;
    width: 100%;
    max-width: 128px;
    margin-bottom: tokens.$spacing-xlarge;
    
    @include tokens.desktop {
        grid-area: logo;
        justify-self: center;
        max-width: 256px;
    }
}

.subfooter {
    order: 4;
    margin-top: tokens.$spacing-xlarge;
    line-height: 1.5em;
    text-align: center;
    
    @include tokens.desktop {
        grid-area: subfooter;

        br {
            display: none;
        }
    }
}
