@use './tokens';

main {
    margin-top: tokens.$spacing-large;
    padding: tokens.$spacing-gutter;
}

.site-wrapper {
    min-width: 320px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}