$color-primary: '#f46036';
$color-primary-dark: '#e84a1e';

$color-secondary-light: '#3d4ea4';
$color-secondary: '#212a59';
$color-secondary-dark: '#181b2b';

$color-light: '#f0f2f9';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;
